body{
  margin: 0;
  background-color: #565555;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.headerText{
  margin: 5px;
  font-size: 20px;
  font-family: "helvetica Neue";
  font-weight: 100;
}

.login{
  border-radius: 10px;
  width: 620px;
  height: 570px;
  background-color: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-family: "helvetica Neue";
  font-weight: 100;
}

.usernameText{
  width: 500px;
  height: 50px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}

.usernameText::placeholder{
  color: white;
  font-size: 15px;
}





.chat{
  border-radius: 10px;
  width: 620px;
  height: 570px;
  background-color: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dialogBox{
  width: 605px;
  height: 480px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.typeArea{
  width: 600px;
  height: 30px;
  border-radius: 10px;
}
